# Jekyll files
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_posts/2025-02-25-welcome-to-jekyll.markdown

# Ruby files
*.gem
*.rbc
.bundle
vendor/

# Ignore cache
.cache/
 # Ignore dependency directories
node_modules/
npm-debug.log
yarn-error.log

# Logs and databases
*.log
*.sql
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*~ 
.project
.idea

# Miscellaneous
tmp/
